@charset "UTF-8";

* {
    margin: 0;
}



figure {
    display: inline-block;
    border: 0px dotted gray;
    margin: 20px;
    /* adjust as needed */
}

figure img {
    vertical-align: top;
}

figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}

aside p {
    text-align: center;
}

h1 {
    text-align: center;
}
.grid {
    display: grid;  
    grid-template-columns: 1fr 1fr; /* Colunas responsivas */
    gap: 40px; /* Aumentar o espaçamento entre os itens */
    justify-items: center; /* Centraliza os itens no grid */
    padding: 20px; /* Espaço interno ao redor do grid */
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
}

.item h3 {
    margin-top: 24px;
}

.item p {
    margin-top: 0;
    text-align: center;
}

.item img {
    width: 400px;
}

h1 {
    margin-bottom: 16px;
}


.grid-template-columns {
	grid-template-columns: 200px 200px;
}

.grid-template-columns-3 {
	grid-template-columns: 1fr 2fr 1fr;
}
